@import 'src/client/scss/variables.scss';
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

img {
  max-height: 100%;
  max-width: 100%;
  margin: 0 10px;
}

.footer {
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  background: rgb(200,200,200);
  display: flex;
  height: $footerHeight;
  justify-content: center;
}
