.notificationButtons {
  &--socialMedia {
    background-image: url('../../../media/buttons/Social_Media_Button.png');

    &:not(:disabled):hover {
      background-image: url('../../../media/buttons/Social_Media_Button_Active.png');
    }
  }

  &--textMessage {
    background-image: url('../../../media/buttons/Messages_Button.png');

    &:not(:disabled):hover {
      background-image: url('../../../media/buttons/Messages_Button_Active.png');
    }
  }

  &--email {
    // TODO uncomment once get this image from sydney
    // background-image: url('../../../media/buttons/Email_Button.png');
    background-image: url('../../../media/buttons/Email_Button_Active.png');

    &:not(:disabled):hover {
      background-image: url('../../../media/buttons/Email_Button_Active.png');
    }
  }
}
