@import 'src/client/scss/mixins.scss';

// TODO create mixin(s) for shared scss (between login/sign up, and possibly others - buttons?)

.login {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__form {
    &__field {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 400px;
      margin-bottom: 10px;
    }

    &__label {
      margin-right: 8px;
    }

    &__input {
      @include formField;
    }

    &__submitButton {
      @include defaultTransition;
      @include resetButton;
      @include undecoratedLink;
      background: $green;
      border-radius: 5px;
      color: #fcfcfc;
      font-size: 18px;
      margin: 0 2px;
      padding: 10px 20px;
      white-space: nowrap;

      &:hover {
        background: $mainContentBlue;
        color: #fcfcfc;
        cursor: pointer;
      }
    }

    &__signUpMessage {
      color: $gray;
      font-size: 14px;
      margin-top: 12px;
    }
  }
}
