@import 'src/scss/variables.scss';

img {
  max-height: 100%;
  max-width: 100%;
  margin: 0 10px;
}

.footer {
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  background: rgb(200,200,200);
  display: flex;
  height: $footerHeight;
  justify-content: center;
}
