@import 'src/scss/variables.scss';

.footer {
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  background: rgb(200,200,200);
  display: flex;
  height: $footerHeight;
  justify-content: center;
}
