@import 'src/scss/mixins.scss';
@import 'src/scss/variables.scss';

.header {
  background: $themeBlue;
  box-shadow: 0 0 8px 4px rgba(0,0,0,0.3);
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;

  &__logo {
    @include undecoratedLink;
    align-items: center;
    color: rgb(255,255,255);
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 10px;

    &:hover {
      color: $offWhite;
    }

    &__img {
      height: 40px;
      width: auto;
    }
  }

  &__links {
    align-items: center;
    display: flex;
    margin-right: 10px;
  }

  &__link {
    @include defaultTransition;
    @include undecoratedLink;
    border: 2px solid white;
    border-radius: 5px;
    color: $offWhite;
    font-size: 16px;
    margin: 0 6px;
    padding: 8px 20px;
    white-space: nowrap;

    &:hover {
      background: $offWhite;
      color: $themeBlue;
      cursor: pointer;
    }
  }
}
