@import 'src/client/scss/mixins.scss';

.textbox {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  margin-bottom: 10px;

  &__label {
    margin-bottom: 2px;
  }

  &__input {
    @include formField;
  }
}
