@import 'src/client/scss/mixins.scss';
@import 'src/client/scss/variables.scss';

$maxWidth: 400px;

.selectedState {
  padding: 0 20px;

  &__header {
    @include headerWithOnlyBottomMargin;
  }

  &__info {
    border: 1px solid black;
    margin: 0 auto 10px;
    max-width: $maxWidth;
    padding: 10px;
  }

  &__graphic {
    border: 1px dashed red;
    margin: 0 auto 10px;
    max-width: $maxWidth;
    padding: 5px;

    &__image {
      display: block;
      height: auto;
      width: 100%;
    }

    &__caption {
      &::before,
      &::after {
        content: '"';
      }
    }
  }

  &__addChild {
    @include defaultTransition;
    @include resetButton;
    @include grayBackgroundWhenDisabled;
    background: $green;
    border: 1px solid $gray;
    color: #fcfcfc;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px 20px;
    white-space: nowrap;

    &:hover {
      background: $blue;
      color: #fcfcfc;
      cursor: pointer;
    }

    &:first-of-type {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
    }

    &:last-of-type {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:not(:last-of-type) {
      border-right: 0;
    }

    &--selected {
      background: red;
    }
  }
}
