@import 'src/client/scss/mixins.scss';

.signUp {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__form {
    &__submitButton {
      @include defaultTransition;
      @include resetButton;
      @include undecoratedLink;
      background: $green;
      border-radius: 5px;
      color: #fcfcfc;
      font-size: 18px;
      margin: 0 2px;
      padding: 10px 20px;
      white-space: nowrap;

      &:hover {
        background: $mainContentBlue;
        color: #fcfcfc;
        cursor: pointer;
      }
    }

    &__loginMessage {
      color: $gray;
      font-size: 14px;
      margin-top: 12px;
    }
  }
}
