// colors
$offWhite: rgb(252,252,252);
$lightGray: rgb(160,160,160);
$gray: rgb(100,100,100);
$darkGray: rgb(70,70,70);
$red: rgb(255,0,0);
$green: rgb(46,204,64);
$yellow: rgb(255,255,0);
$blue: rgb(66,133,244);
$lightGreen: rgb(45,184,75);
$themeBlue: rgb(0,28,73);

// sizing
$headerHeight: 70px;
$footerHeight: 100px;
