// fonts
@import url(https://fonts.googleapis.com/css?family=Playfair+Display|Roboto);

html {
  font-size: 18px;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100vw;
}
