// shared mixins
@mixin homepageSection() {
  margin-bottom: 40px;

  &:target::before { // TODO this doesnt update after matching first target
    // background: red;
    content: ' ';
    display: block;
    height: 80px;
    margin-top: -80px;
  }
}

@mixin homepageTitle() {
  @include playfairDisplayFont;
  font-size: 32px;
  margin: 0;
  margin-bottom: 12px;
}

// imports
@import './About';
@import './Amica';
@import './Footer';
@import './Games';
@import './Header';
@import './Pricing';
