@import 'src/client/scss/mixins.scss';

@mixin homepageSection() {
  margin-bottom: 40px;

  &:before {
    $height: 80px;
    content: ' ';
    display: block;
    height: $height;
    margin-top: -$height;
  }
}

@mixin homepageTitle() {
  @include playfairDisplayFont;
  font-size: 32px;
  margin: 0;
  margin-bottom: 12px;
}
