@import 'src/scss/variables.scss';
@import './mixins.scss';

.competitors {
  @include landingPageSection;

  &__title {
    @include landingPageTitle;
  }

  &__criterion {

    &--yes,
    &--high {
      border-radius: 4px;
      padding: 5px 10px;
      background: rgba($green, 0.35);
    }

    &--medium {
      border-radius: 4px;
      padding: 5px 10px;
      background: rgba(yellow, 0.35);
    }

    &--no,
    &--low {
      border-radius: 4px;
      padding: 5px 10px;
      background: rgba(red, 0.35);
    }
  }
}
