@import 'src/scss/mixins.scss';
@import 'src/scss/variables.scss';

.infoCard {
  border: 2px solid $lightGray;
  border-radius: 8px;
  display: inline-flex;

  &__info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  &__password {
    padding: 5px 10px;

    &__listItem {
      @include defaultTransition;
      align-items: center;
      background: $lightGray;
      border-radius: 4px;
      display: flex;
      list-style-type: none;
      margin: 4px;
      padding: 10px;

      &--selected,
      &--noSelection:hover {
        background: $darkGray;
        color: white;
        cursor: pointer;
      }

      &--selected {
        cursor: default;
      }

      &__letter {
        margin-right: 10px;
      }

      &__value {
        flex-grow: 1;
      }
    }
  }

  &__info,
  &__password {
    width: 250px;
  }
}

.message {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px auto 0;
  width: 500px;

  &__result,
  &__explanation {
    padding: 4px;
  }

  &__explanation {
    font-style: italic;
  }

  &__nextButton {
    @include defaultTransition;
    @include resetButton;
    background: $blue;
    border-radius: 5px;
    color: $offWhite;
    font-size: 16px;
    margin-top: 10px;
    max-width: 200px;
    padding: 5px 10px;
    white-space: nowrap;

    &:hover {
      background: $green;
      color: $offWhite;
      cursor: pointer;
    }
  }
}

.newGameButton {
  @include defaultTransition;
  @include resetButton;
  background: $blue;
  border-radius: 5px;
  color: $offWhite;
  font-size: 16px;
  margin-top: 10px;
  max-width: 200px;
  padding: 5px 10px;
  white-space: nowrap;

  &:hover {
    background: $green;
    color: $offWhite;
    cursor: pointer;
  }
}
