@import 'src/client/scss/mixins.scss';
@import 'src/client/scss/variables.scss';

.infoCard {
  border: 2px solid $lightGray;
  border-radius: 8px;
  display: inline-flex;

  &__info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  &__password {
    padding: 5px 10px;

    &__listItem {
      @include defaultTransition;
      align-items: center;
      background: $lightGray;
      border-radius: 4px;
      display: flex;
      list-style-type: none;
      margin: 4px;
      padding: 10px;

      &:hover {
        background: $darkGray;
        color: white;
        cursor: pointer;
      }

      &__letter {
        margin-right: 10px;
      }

      &__value {
        flex-grow: 1;
      }
    }
  }

  &__info,
  &__password {
    width: 250px;
  }
}
